.marca-vehiculo-container{
    border: 2px solid red;
    text-align: left;
    /*font-weight: bold;*/
    margin-bottom: 2px;
    
}


.product-without-stock{
    color: red;
    font-weight: bold;
}